footer{
    background-color: black;
    text-transform: capitalize;

}

.grid_footer{
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}